:root {
  /* Светлые базовые */
  --light-white: #FFF9F7; 
  --background-white: #F5F3F1;


  --base-black: #0F0E0D;
  --base-brown: #38322C; 

  /* Розово-кровавая палитра */
  --base-pink: #FFE8EA;
  --main: #FF314A; 
  --main-transparent: rgba(255, 49, 74, 0.1); 

  --accent: #FF4D62; 
  --accent-dark: #C72037;
  --accent-hostel: #FF314A;

  --inactive: rgba(255, 255, 255, 0.25);
  --error: #9D292C;

  --hostel-50: #FFE9EB;
  --hostel-100: #FFC0C8;
  --hostel-200: #FF99A5;
  --hostel-300: #FF6B7F;
  --hostel-400: #FF4D62;
  --hostel-500: #FF314A; /* основной акцент */
  --hostel-600: #E0283F;
  --hostel-700: #B02033;
  --hostel-800: #751520;
  --hostel-900: #4A0D15;

  --swiper-theme-color: #FF314A !important; 
}
