* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: Montserrat;
  font-size: 2.4rem;
}

html {
  min-height: 1vw;

  margin: 0;
  padding: 0;
  overflow-x: hidden;

  @media (min-width: 1919px) {
    font-size: calc(6px + 0.27777778vw);
  }

  @media (max-width: 1439px) {
    font-size: 0.6944444444vw;
  }

  @media (max-width: 1279px) {
    font-size: 0.9844444444vw;
  }

  @media (max-width: 767px) {
    font-size: 10px;
  }
}

h1 {
  color: var(--light-white);
}

body {
  position: relative;
  scroll-behavior: smooth;
  position: relative;
  background: var(--base-black);

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: var(--accent);
  color: var(--hostel-50);
  border: none;
  border-radius: 12px;
}

input {
  border: none;
}

.body-light {
  background: var(--background-white) !important;

  .p-button-icon-only {
    color: inherit !important;
  }
}

.page-container {
  width: 100dvw;
  //min-height: 100dvh;
  overflow-x: hidden;

  @media (max-width: 1439px) {
    max-width: 100dvw;
  }
}

.p-component,
.p-inputtext .p-select .p-placeholder {
  font-size: 1.6rem !important;
}

.p-dialog {
  margin: 1.6rem;
  padding: 1.6rem;
}

.p-dialog-content {
  .p-fluid {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }

  .p-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6rem 1fr;
    row-gap: 0.4rem;
  }
}
